root {
    background-color: blue;
    flex-direction: column;
}

container {
    background-color: lightgray;
    align-self: stretch;
    height: 100;
    padding: 5 10;
    flex-direction: row;
    margin-top: 40;
    justify-content: space-around;
}

container item {
    background-color: #f00;
    width: 60;
    align-self: stretch;
    border: 1 solid #000;
}