root {
    background-color: blue;
    flex-direction: column;
}

container {
    background-color: lightgray;
    align-self: stretch;
    height: 100;
    padding: 5 10;
    flex-direction: row;
    margin-top: 40;
    justify-content: space-around;
}

container item {
    background-color: #f00;
    flex: 1;
    align-self: stretch;
    border: 1 solid #000;
    border-radius: 10;
}

container absolute {
    background-color: green;
    width: 20;
    height: 20;
    position: absolute;
    top: 20;
    left: 30;
}

label {
    align-self: stretch;
    color: white;
    font: 20 Futura-CondensedExtraBold;
    text-align: center;
}

container2 {
    align-self: stretch;
    background-color: yellow;
    height: 40;
}